parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$completed\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$craving_intensity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$hp_affected\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_completed_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slip_happened\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$stats_affected\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$streak\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$xp_reward\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$xp_rewarded_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$xp_rewarded_on\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Cannot call method isSameDay\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: bool\)\|null, Closure\(App\\Models\\Habit\)\: mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Livewire/RpgDashboard.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: bool\)\|null, Closure\(App\\Models\\Quest\)\: bool given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/RpgDashboard.php
